/*CSS variables reset css and basic body properties*/
:root { 
    --background-color: #F0F4F8;
    --background-timer-color: #FFFFFF;
    --accent-workmode-color: #2A9D8F;
    --accent-breakmode-color: #E9C46A;
    --text-primary-color: #264653;
    --text-principal-font: 'Montserrat', sans-serif;
    --text-secondary-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
body {
    background-color: var(--background-color);
    font-family: var(--text-principal-font);
    height: 100vh;
    width: 100vw;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: var(--text-primary-color);
}

/*Header styles*/
header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*Main container styles -> Timer and control buttons*/
main {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


/*Footer styles*/
footer {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer a {
    color: var(--text-primary-color);
    text-decoration: none;  
    font-weight: bold;
    font-size: 1.4rem;
    transition: all 0.3s ease;
}
footer a:hover {
    transform: scale(1.05);
    filter: brightness(1.5);
}